<div class="btn-group dropup">
  <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= octicon "globe" %>
  </button>
  <div class="dropdown-menu">
    <%= link_to 'KZ', "?locale=kz", class: "dropdown-item" %>
    <%= link_to 'RU', "?locale=ru", class: "dropdown-item" %>
    <%= link_to 'EN', "?locale=en", class: "dropdown-item" %>
  </div>
</div> 