<% flash.each do |key, message| %>
  <div class="alert alert-<%= flash_key(key) %>">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= message %>
  </div>
<% end %>