var answerId = <%= answer.id %>;
var previousBestAnswer = document.querySelector('.best-answer .best-answer-info');
console.log(previousBestAnswer);

$('.best-answer').html('<h2><%= t('answers.answer.best_answer') %></h2><p><%= j render answer %></p>');
$('.answers-list #answer-info-' + answerId).parent().remove();