@import 'bootstrap';

.hidden {
  display: none;
}
.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}
.question {
  padding: 25px;
  background-color: #ffc107;
  border-radius: 5px 5px 0px 0px;	
}
.answers {
	margin-bottom: 100px;
  padding: 25px;
  background-color: #ddd;
  border-radius: 0px 0px 5px 5px;
}
.comments {
	margin-top: 35px;
	margin-bottom: 35px;
}
