@import 'bootstrap';
@import 'common';
@import 'direct_uploads';
@import 'typography/icons';

/*---All site size typography---*/
html {
  font-size: 0.6rem;
}

body {
  background-color: #FFFFFF;
}

@include media-breakpoint-up(xs) {
  html {
    font-size: 0.7rem;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

/*---Header---*/
.bg-light {
  background-color: rgba(245, 245, 245, 0.9) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px !important;
  opacity: 1; top: 0px !important;
}

.navbar-brand {
  color: #007bff !important;
}

.nav-item.welcome {
  color: rgba(0, 0, 0, 0.5);  
}

/*---Footer---*/
.page-footer {
  background-color: #EEEEEE;
}