<!-- Footer -->
<footer class="bg-warning mt-5">
  <div class="container">
    <div class="row d-flex text-center justify-content-center">
      <div class="col-md-8 col-12 my-2">
        © <%= current_year %> <%= t('classifier.copyright') %> <%= link_to octicon('repo-forked'), github_url('dastanabeuov', 'qna'), target: '_blank' %>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->